.dropDownContainer{

}
.dropDownSearch{
    display: inline-block;
    position: relative;
}
.dropDownSearchInput{
padding: 5px 10px;
}
.dropDownButton{
    position: absolute;
    top:0;
    right:0;
    padding: 5px 10px;
    transform: translateX(95%);
}