.clientListCard{
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 4px 4px 5px gray;
    border-radius: 7px;
    min-width: 250px;
}
.info{
    margin-bottom: 10px;
}

.butons{
    display: flex;
    gap: 5px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.butons > div{
    padding: 2px 5px;
    border: 1px lightgray solid;
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}
.butons > div:hover{
    background-color: lightgray;
}